# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'ಠ_ಠ': 'atom-disapproval:ಠ_ಠ'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-disapproval'
      'submenu': [
        { 'label': 'ಠ_ಠ', 'command': 'atom-disapproval:ಠ_ಠ' }
      ]
    ]
  }
]
